{% extends "layouts/blank.html" %}
{% load static %}
{% block content %} 

    <div class="">
        <div class="chat-container">

            <!-- Chat List -->
            <div class="chat-list p-2">
                {% for user in users %}
                    <a href="{% url "chat" username=user.username %}" class="chat-user-link">
                    <div class="chat-user mb-2">
                        <img src="{{ user.userprofile.get_profile_image }}" alt="Bob">
                        <div>
                        <strong id="{{ user.username }}_status">{{ user.username }}</strong><br>
                        <small>See you tomorrow</small>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        



            <div class="chat-area">


                <!-- Chat Header -->
                <div class="chat-header">
                    <img src="{{ chat_user.userprofile.get_profile_image }}" alt="Bob">
                    <h6  class="mb-0">
                        {{chat_user.username}} 
                        <span id="{{chat_user.id}}_id" >Offline</span>
                    </h6>
                </div>





                <!-- Messages -->
                <div class="messages"  id="message-body">
                    {% for message in messages %}
                        {% if request.user.username == message.sender.username %}
                            <div class="message outgoing">
                                {{message}}<div class="timestamp">{{message.timestamp}}</div>
                            </div>
                        {% else %}
                            <div class="message incoming">
                                {{message}}<div class="timestamp">{{message.timestamp}}</div>
                            </div>
                        {% endif %}
                    {% endfor %} 
                </div>

                <!-- Input -->
                <div class="chat-input">
                    <form class="d-flex" >
                        <input type="text" id="message-input" class="form-control me-2" placeholder="Type a message...">
                        <button class="btn btn-primary" type="button" onclick="getInput()">Send</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
   

    
    {{ chat_user.username|json_script:"sender" }}
    {{ chat_user.id|json_script:"sender_id" }}
    {{ request.user.username|json_script:"logged_user" }} 

    <script src="{% static "chat_app/js/script.js" %}"></script>
    <script src="{% static "chat_app/js/online_status.js" %}"></script>


{% endblock %}
