{% extends "layouts/blank.html" %}
{% load static %}

{% block content %} 

    <div class="">
      <div class="chat-container">

        <!-- Chat List -->
        <div class="chat-list p-2">
          {% for user in users %}
            <a href="{% url "chat" username=user.username %}" class="chat-user-link">
              <div class="chat-user mb-2">
                <img src="{{ user.userprofile.get_profile_image }}" alt="Bob">
                <div>
                  <strong>{{ user.username }}</strong><br>
                  <small>See you tomorrow</small>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>





  
  


{% endblock %}